.header {
  font-size: 14px;
  color: #606d79;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header.active > .text {
  color: #04043a;
  font-weight: bold;
}

.header.active > .icon {
  transform: rotate(90deg);
}

.header .icon {
  position: absolute;
  right: 0;
  transform: rotate(-90deg);
}
